@import "../../styles/mixin";
@import "../../styles/vars";
.price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;

	min-height: 45px;
	.old {
		font-size: 12px;
		text-decoration: line-through;
		color: $purple;
	}
	.default,
	.new {
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
	}
	span {
		font-size: 12px !important;
		font-weight: bold;
		text-transform: uppercase;
		color: inherit !important;
	}
}
