@import "../../styles/mixin";
@import "../../styles/vars";
.price {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 2px;
	&.column {
		flex-direction: unset;
		align-items: baseline;
		gap: 7px;
		min-height: unset;
	}
	&.xl2 {
		flex-direction: row;
		justify-content: unset;
		align-items: center;
		gap: 12px;
		.old {
			font-size: 16px;
		}
		.default,
		.new {
			font-size: 20px;
			line-height: 28px;
		}
	}
	min-height: 45px;
	.old {
		font-size: 12px;
		text-decoration: line-through;
		color: $purple;
	}
	.default,
	.new {
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
	}
	span {
		font-size: 12px !important;
		font-weight: bold;
		text-transform: uppercase;
		color: inherit !important;
	}
}
