@import "../../../../styles/mixin";
@import "../../../../styles/vars";
@import "../../../../styles/media.mixin";
.wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
	@include mediaLarge530px {
		padding-top: 20px;
	}
	.title {
		font-size: 16px;
		font-weight: 500;
	}
	.promotions {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
