@import "../../../../styles/mixin";
@import "../../../../styles/vars";
@import "../../../../styles/media.mixin";

.catalog {
	display: flex;
	flex-direction: column;
	gap: 12px;
	.products {
		position: relative;
		min-height: 40vh;
	}
}
