@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.wrap {
	display: flex;
	padding: 20px 0;
}
.payments {
	display: flex;
	flex-direction: column;
	gap: 12px;
	.method {
		display: grid;
		grid-template-columns: 1fr 0.2fr;
		column-gap: 20px;
		padding: 20px;
		border-radius: 10px;
		@include lowBoxShadow;
		border: 1px dashed $darkenRGBA;
		strong {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
		input {
			width: 20px;
			cursor: pointer;
		}
		img {
			width: 200px;
			height: 50px;
			object-fit: cover;
		}
	}
}
