@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.checkout {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.wrapp {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		column-gap: 12px;
		.column {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 15px 10px;
			border-radius: 15px;
			height: 100%;
			@include middleBoxShadow;
			strong {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
			}
			span {
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
			}

			.methods {
				display: flex;
				flex-direction: column;
				gap: 12px;
				.method {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-radius: 10px;
					cursor: pointer;
					padding-left: 5px;
					&.disabled {
						opacity: 0.8;
					}
					strong {
						display: flex;
						align-items: center;
						gap: 8px;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
					}
					img {
						width: 84px;
						height: 24px;
						object-fit: contain;
					}
					input {
						width: unset;
					}
					@include mediaLarge640px {
						@include lowBoxShadow;
					}
				}
			}
			.btn {
				position: absolute;
				top: 15px;
				right: 10px;
				display: flex;
				color: $purple;
			}
			@include mediaLarge530px {
				@include lowBoxShadow;
			}
		}
		@include mediaLarge940px {
			grid-template-columns: repeat(2, 1fr);
		}
		@include mediaLarge776px {
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
	}
}
.items {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	.item {
		width: unset;
		font-size: 14px;
		font-weight: 500;
		min-width: 45%;
		padding: 10px;
		border-radius: 10px;
		background: $whiteRGBA;
		border: none;
		&.point {
			font-size: 16px;
			background: transparent;
			color: $purple;
		}
		@include mediaLarge480px {
			min-width: 100%;
		}
	}
}
.icons {
	display: flex;
	gap: 10px;
	.icon {
		width: 30px;
		height: 20px;
		background-size: contain;
		&.iconVisa {
			background-image: url("/icons/Visa.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.masterCard {
			background-image: url("/icons/master-card.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.maestro {
			background-image: url("/icons/maestro.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.mbank {
			background-image: url("/images/mbank.png");
			background-position: center center;
			background-repeat: no-repeat;
			width: 50px;
		}

		&.elcard {
			background-image: url("/icons/elcard.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.privacy {
	display: flex;
	flex-direction: column;
	gap: 14px;
	max-width: 90%;
	margin: 0 auto;
	.policy {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		padding: 10px 0;
		@include lowBoxShadow;
		strong {
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			border-bottom: 1px solid $darkenRGBA;
			padding: 4px 0;
			color: $purple;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
		}
		@include mediaLarge480px {
			padding: 0 10px;
		}
	}
	@include mediaLarge480px {
		max-width: 100%;
	}
}
