@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.checkout {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	.wrapp {
		display: grid;
		grid-template-columns: 1fr 1fr 0.8fr;
		justify-content: center;
		column-gap: 12px;
		row-gap: 12px;
		.column {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 15px 10px;
			border-radius: 15px;
			height: 100%;
			@include middleBoxShadow;
			&:nth-child(3) {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
				@include mediaLarge1024px {
					grid-column: unset;
					grid-row: unset;
				}
			}
			&:nth-child(5) {
				grid-column: 3 / 4;
				grid-row: 1 / 3;
				@include mediaLarge1024px {
					grid-column: unset;
					grid-row: unset;
				}
			}

			.products {
				display: flex;
				flex-direction: column;
				gap: 12px;
				.product {
					display: flex;
					align-items: center;
					justify-content: space-between;
					span {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}
			strong {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
			}
			span {
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
			}

			.methods {
				display: flex;
				flex-direction: column;
				gap: 12px;
				.method {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-radius: 10px;
					cursor: pointer;
					padding-left: 5px;
					&.disabled {
						opacity: 0.8;
					}
					strong {
						display: flex;
						align-items: center;
						gap: 8px;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
					}
					img {
						width: 84px;
						height: 24px;
						object-fit: contain;
					}
					input {
						width: unset;
					}
					@include mediaLarge640px {
						@include lowBoxShadow;
					}
				}
			}
			.btn {
				display: flex;
				&.fixed {
					position: absolute;
					top: 15px;
					right: 10px;
					color: $purple;
				}
			}
			@include mediaLarge530px {
				@include lowBoxShadow;
			}
		}
		@include mediaLarge1024px {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
		}
		@include mediaLarge830px {
			grid-template-columns: 1fr;
		}
	}
}
.items {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	.item {
		width: unset;
		font-size: 14px;
		font-weight: 500;
		min-width: 45%;
		padding: 10px;
		border-radius: 10px;
		background: $whiteRGBA;
		border: none;
		&.point {
			font-size: 16px;
			background: transparent;
			color: $purple;
		}
		@include mediaLarge480px {
			min-width: 100%;
		}
	}
}

.privacy {
	display: flex;
	flex-direction: column;
	gap: 14px;
	max-width: 90%;
	margin: 0 auto;
	.policy {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		padding: 10px 0;
		@include lowBoxShadow;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -30px;
			transform: translateY(-50%);
			background: $purple;
			width: 5px;
			height: 5px;
			border-radius: 50px;
		}
		strong {
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			border-bottom: 1px solid $darkenRGBA;
			padding: 4px 0;
			color: $purple;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
		}
		@include mediaLarge480px {
			padding: 0 10px;
		}
	}
	@include mediaLarge480px {
		max-width: 100%;
	}
}
