@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.featured {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
	&.fixed {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 3;
		@include mediaLarge480px {
			position: unset;
		}
	}
}
