@import "../../styles/mixin";
@import "../../styles/vars";

.rating {
	display: flex;
	gap: 4px;
	justify-content: space-between;
	align-items: center;
	.reviews {
		display: flex;
		font-size: 10px;
		font-weight: 400;
		line-height: 17px;
	}
}
