@import "../../../styles/mixin";
@import "../../../styles/vars";
.title {
	font-size: 14px;
	font-weight: 500;
	color: $gray;
	margin: 10px 0;
}
.wrap {
	display: flex;
	flex-direction: column;
	gap: 5px;
	&.column {
		gap: 12px;
		.box {
			flex-direction: column;
			justify-content: unset;
			align-items: flex-start;
			gap: 12px;
		}
	}
	&.xl1 {
		.box {
			button {
				font-size: 14px;
			}
		}
	}
	.box {
		display: flex;
		align-items: center;
		gap: 5px;
		.active_btn {
			border: 1px solid $purple;
			color: $purple;
		}
		button {
			padding: 5px 10px;
			border-radius: 3px;
			border: 1px solid $purpleFavorite;
		}
	}
}
