@import "../../styles/mixin";
@import "../../styles/vars";

.button {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;

	&:focus {
		outline: none;
	}
}
.promo {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	span {
		display: flex;
		flex-direction: column;
		gap: 4px;
		@include dashdeLine;
	}
}
.cart {
	display: flex;
	align-items: center;
	padding: 8px 17px;
	border-radius: 10px;
	background: $black;
	color: $white;
	font-size: 14px;
	font-weight: bold;
}

@keyframes changeBackground {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
