@import "../../styles/mixin";
@import "../../styles/media.mixin";
@import "../../styles/vars";

.button {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;

	&:focus {
		outline: none;
	}
	&.xl2 {
		font-size: 28px;
	}
}
.close {
	display: flex;
	padding: 5px;
	border-radius: 50px;
	color: $purple;
	-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
	-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
	box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
}
.promo {
	display: flex;
	align-items: center;
	gap: 4px;
	span {
		display: flex;
		flex-direction: column;
		gap: 4px;
		font-size: 12px;
		@include dashdeLine;
		@include mediaLarge480px {
			gap: 2px;
		}
	}
}
.cart {
	display: flex;
	align-items: center;
	padding: 8px 17px;
	border-radius: 10px;
	background: $black;
	color: $white;
	font-size: 14px;
	font-weight: bold;
}

@keyframes changeBackground {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
