@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";

.header {
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: 198;
	background: $white;
	margin-bottom: 15px;
	border-bottom: 1px solid $darkenRGBA;
	&.strech {
		position: unset;
	}
	.wrap {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 40px;
		column-gap: 12px;
		padding: 17px 0;

		.column {
			display: flex;
			align-items: center;

			gap: 12px;
			&:last-child {
				justify-content: flex-end;
			}
			button {
				font-size: 22px;
				color: $black;
			}
		}
	}
}
