@import "../../styles/vars";

.menu {
	position: relative;
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	gap: 12px;

	.list {
		display: flex;

		.list__item {
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;

			a {
				color: $darken;
			}
		}

		&.row {
			display: flex;
			flex-wrap: wrap;
			gap: 7px;

			.list__item {
				width: calc(100% / 4 * 1.3);
			}
		}
		&.row_heigth {
			display: flex;
			flex-direction: column;
			gap: 7px;

			.list__item {
				width: unset;
			}
		}

		&.column {
			display: flex;
			justify-content: flex-start;
			gap: 30px;

			.list__item {
				width: unset;
				&:hover {
					.submenu {
						opacity: 1;
						pointer-events: all;
					}
				}
			}
		}
	}

	// SUBMENU
	.submenu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: $white;
		-webkit-box-shadow: 0px 6px 7px -3px rgba(34, 60, 80, 0.07);
		-moz-box-shadow: 0px 6px 7px -3px rgba(34, 60, 80, 0.07);
		box-shadow: 0px 6px 7px -3px rgba(34, 60, 80, 0.07);
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		opacity: 0;
		transition: opacity 0.3s ease;
		pointer-events: none;
		z-index: 100;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		overflow: hidden;
		border-radius: 2px;

		&.active {
			opacity: 1;
			pointer-events: all;
		}

		.submenu__item {
			width: calc(100% / 3 * 1.3);
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;
		}
	}
}
