@import "../../../../styles/vars";
@import "../../../../styles/media.mixin";
@import "../../../../styles/mixin";

.cards {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.wrap {
		position: relative;
		display: grid;
		grid-template-columns: repeat(6, calc(100% / 6 - 5px / 6 * (6 - 1)));
		-moz-column-gap: 5px;
		column-gap: 5px;
		row-gap: 12px;
		@include mediaLarge1024px {
			grid-template-columns: repeat(4, calc(100% / 4 - 20px / 4 * (4 - 3)));
			row-gap: 5px;
		}
		@include mediaLarge776px {
			grid-template-columns: repeat(3, calc(100% / 3 - 20px / 3 * (3 - 2)));
		}
		@include mediaLarge530px {
			grid-template-columns: repeat(2, calc(100% / 2 - 10px / 2 * (2 - 1)));
			-moz-column-gap: 10px;
			column-gap: 10px;
		}
		@include mediaLarge480px {
			grid-template-columns: repeat(2, calc(100% / 2 - 4px / 2 * (2 - 1)));
			-moz-column-gap: 4px;
			column-gap: 4px;
		}
		&.grid5 {
			grid-template-columns: repeat(5, calc(100% / 5 - 20px / 5 * (5 - 1)));
		}
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.02);
	border: 1px dashed $darkenRGBA;
	.card_wrap {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		&:hover {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: revert-layer;
			background: $white;
			z-index: 10;
			box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.07);
			border-radius: 4px;
			padding: 10px;
			.featured {
				opacity: 1;
			}
			.buttons {
				margin: 5px 0;
				display: flex;
			}
			.content {
				.name {
					display: flex;
					flex-direction: column;
					gap: 7px;
					.title {
						line-height: 100%;
						white-space: normal;
					}
				}
			}
		}

		.featured {
			position: absolute;
			left: 0;
			top: 20px;
			z-index: 3;
			padding: 5px 26px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			opacity: 0;
			@include mediaLarge1024px {
				opacity: 1;
			}
		}
		.top {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 6px;
			.poster {
				position: relative;
				padding-top: calc(100% * (328 / 246));
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					border-radius: 4px;
				}
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 15px;
			color: $darken;
			padding-top: 10px;
			padding-bottom: 20px;
			.name {
				.title {
					line-height: 18px;
					font-size: 14px;
					font-weight: 500;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					small {
						color: $gray;
						font-size: 10px;
						line-height: 12px !important;
					}
				}
				span {
					display: inline-block;
					font-size: 12px;
					color: $gray;
				}
			}
			.price {
				@include mediaLarge360px {
					min-height: unset !important;
				}
			}
		}

		.buttons {
			display: none;
			@include mediaLarge1024px {
				display: flex;
				justify-content: center;
			}
		}
		@include mediaLarge1024px {
			padding-bottom: 6px;
			&:hover {
				content: "";
				position: unset;
				top: unset;
				left: unset;
				right: unset;
				bottom: unset;
				background: unset;
				z-index: unset;
				box-shadow: unset;
				border-radius: unset;
				padding: unset;
				.buttons {
					margin: unset;
					display: unset;
				}
				.content {
					.name {
						display: unset;
						flex-direction: unset;
						gap: unset;
						.title {
							white-space: nowrap;
							line-height: 18px;
						}
					}
				}
			}
		}
	}
}
