@import "../../../../styles/mixin";
@import "../../../../styles/vars";
@import "../../../../styles/media.mixin";

.specifications {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 12px;
	.title {
		display: flex;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: $darken;
		span {
			&::after {
				display: block;
				content: "";
				width: 100%;
				height: 1px;
				background-image: linear-gradient(
					to right,
					rgb(63, 63, 63) 33%,
					rgba(255, 255, 255, 0) 0%
				);
				background-position: bottom;
				background-size: 5px 1px;
				background-repeat: repeat-x;
			}
		}
	}
	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include mediaLarge776px {
			flex-direction: column;
		}
		.column {
			width: calc(100% / 3 * 1.4 - 8px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 7px 0;
			@include mediaLarge776px {
				width: unset;
			}
			span {
				font-size: 12px;
				font-weight: 500;
			}
			.row {
				width: calc(100% / 2 * 1.5);
				span {
					display: flex;
					align-items: baseline;
					gap: 6px;
					width: 100%;
					font-size: 14px;
					line-height: 18px;
					font-weight: 300;
					&::after {
						content: "";
						display: block;
						width: 30%;
						height: 1px;
						border-bottom: 1px dashed $darkenRGBA;
					}
				}
			}
		}
	}
}
