@import "../../../styles/mixin";
@import "../../../styles/vars";
.price {
	display: flex;
	align-items: flex-end;
	align-items: center;
	gap: 5px;
	min-height: 15px;
	transition: opacity 1.2s ease;
	.old {
		color: $discount;
		text-decoration: line-through;
	}

	&.column {
		min-height: unset;
		.old,
		.default,
		.new {
			display: flex;
			gap: 5px;
			align-items: center;
		}
	}
	&.xxl1 {
		.old,
		.default,
		.new {
			display: flex;
			gap: 5px;
			align-items: center;
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
		}
		.old {
			font-size: 10px;
		}
	}
	&.xl2 {
		.old,
		.default,
		.new {
			font-size: 18px;
			font-weight: 500;
			line-height: 17px;
		}
		.old {
			font-size: 12px;
		}
	}
	&.xl1 {
		.old,
		.default,
		.new {
			position: relative;
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 16px;
			font-weight: 500;
			line-height: 90%;
		}
		.old {
			font-size: 12px;
			font-weight: 300;
		}
	}
	span {
		// display: flex;
		font-size: 10px !important;
		line-height: 10px;
		// font-weight: bold;
		// text-transform: uppercase;
		// color: inherit !important;
		// font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		// 	"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}
}
