@import "../../../../styles/media.mixin";
@import "../../../../styles/vars";
@import "../../../../styles/mixin";
.orders {
	display: flex;
	flex-direction: column;
	gap: 12px;
	.order {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@include lowBoxShadow;
		padding: 12px;
		border-radius: 10px;
		.head {
			display: grid;
			grid-template-columns: repeat(4, calc(100% / 4 - 12px / 4 * (4 - 1)));
			span {
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				color: $gray;
			}
		}
		.body {
			display: grid;
			grid-template-columns: repeat(4, calc(100% / 4 - 12px / 4 * (4 - 1)));
			span {
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
			}
		}
	}
}
