@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";

.information {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 50px;
	&.default {
		position: unset;
		gap: 12px;
		transform: unset !important;

		.columns {
			display: flex;
			flex-direction: row-reverse;
			transform: unset !important;
			.column {
				flex: 1;
				.title {
					display: none;
				}
				.button {
					display: none;
				}
				.rows {
					.row {
						padding: 0;
						span {
							font-weight: 400;
						}
					}
				}
				&:nth-child(1) {
					@include mediaLarge530px {
						gap: 7px;
					}
				}
			}
			@include mediaLarge830px {
				flex-direction: column-reverse;
				gap: 15px;
			}
		}
	}
	&.fixed {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		z-index: 2002;
		padding: 20px;
		background: $white;
		box-shadow: 0px -22px 56px -32px rgba(0, 0, 0, 0.48);
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		.columns {
			display: flex;
			flex-direction: column;
			gap: 50px;
			align-items: center;
			.column {
				max-width: 550px;
				width: 100%;
				.rows {
					.row {
						smal,
						span {
							flex: 0.4;
						}
					}
				}
			}
		}
		@include mediaLarge530px {
			right: 0px;
			left: 0px;
		}
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		button {
			display: flex;
			font-size: 22px;
			color: $gray;
		}
	}
	.columns {
		.column {
			display: flex;
			flex-direction: column;
			gap: 15px;
			> span {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 4px;
				color: $purple;
				font-size: 14px;
			}
			.questions {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				color: $purple;
				span {
					cursor: pointer;
					font-size: 12px;
					font-weight: 500;
				}
			}
			.title {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				span {
					display: inline-flex;
					flex-direction: column;
					gap: 5px;
				}
			}
			.rows {
				display: flex;
				flex-direction: column;
				gap: 12px;
				.row {
					display: flex;
					align-items: center;
					padding: 0 4px;
					small {
						flex: 1;
						color: $gray;
						font-size: 12px;
					}
					span {
						flex: 1;
						display: flex;
						align-items: center;
						gap: 6px;
						font-size: 14px;
						font-weight: 400;
						line-height: 15px;
						b {
							font-size: 16px;
							color: $gray;
						}
					}
				}
			}
			.button {
				display: flex;
				justify-content: center;
				button {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					border: 1px solid $darkenRGBA;
					border-radius: 8px;
					padding: 12px 16px;
					font-size: 12px;
					span {
						font-size: 16px;
					}
					@include mediaLarge480px {
						padding: 8px 12px;
						margin: 12px 0;
						border-radius: 6px;
					}
				}
			}
			@include mediaLarge776px {
				min-width: 80%;
			}
			@include mediaLarge480px {
				min-width: 100%;
			}
		}

		@include mediaLarge776px {
			grid-template-columns: 1fr;
			row-gap: 25px;
		}
	}
}
