@import "../../../../styles/media.mixin";
@import "../../../../styles/mixin";
@import "../../../../styles/vars";
.notifications {
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3 - 12px / 3 * (3 - 1)));
	column-gap: 12px;
	.notify {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 15px;
		border-radius: 5px;
		@include lowBoxShadow;
		.reading {
			position: absolute;
			top: 0;
			right: 0;
			background: $purple;
			color: $white;
			padding: 4px;
			font-size: 10px;
			font-weight: 300;
			line-height: 14px;
			border-radius: 4px;
		}
		.item {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
		span {
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}
		strong {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
		}
	}
	@include mediaLarge940px {
		grid-template-columns: repeat(2, 1fr);
	}
	@include mediaLarge530px {
		grid-template-columns: 1fr;
	}
}
