@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";

.notify {
	position: absolute;
	left: 50%;
	width: 5px;
	height: 5px;
	background: $discount;
	z-index: 10;
	border-radius: 50%;
}
.notifyItem {
	top: 20%;
	transform: translateY(-20%);
	font-size: 16px;
}
.head {
	font-size: 20px;
	transform: translateX(-50%);
	bottom: -8px;
}
