@import "../../../../../styles/mixin";
@import "../../../../../styles/vars";
@import "../../../../../styles/media.mixin";

.detail {
	@include mediaLarge480px {
		padding-top: 20px;
	}
	.wrap {
		display: grid;
		grid-template-columns: calc(100% / 2 * 1.5 - 12px / 2 * (2 - 1)) calc(
				100% / 6 * 1.5 - 12px / 6 * (6 - 1)
			);
		column-gap: 12px;
		align-items: start;
		@include mediaLarge1024px {
			grid-template-columns: 1fr;
		}
		@include mediaLarge940px {
			row-gap: 20px;
		}
	}
}
.product {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	-moz-column-gap: 20px;
	column-gap: 20px;

	@include mediaLarge1200px {
		grid-template-columns: calc(100% / 3 * 1.5 - 10px) calc(
				100% / 3 * 1.4 - 10px
			);
	}
	@include mediaLarge1024px {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
	.product_content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
