@import "../../../../../styles/mixin";
@import "../../../../../styles/vars";
.detail {
	border-top: 1px solid $darkenRGBA;
	padding-top: 10px;
	.wrap {
		display: grid;
		grid-template-columns: calc(100% / 2 * 1.5 - 6px) calc(100% / 6 * 1.5 - 6px);
		column-gap: 12px;
	}
}
.product {
	position: relative;
	display: grid;
	grid-template-columns: calc(100% / 2 * 1.1 - 10px) calc(100% / 3 * 1.4 - 10px);
	column-gap: 10px;

	.product_content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.product_name {
			display: flex;
			flex-direction: column;
			gap: 12px;

			strong {
				font-size: 10px;
				color: $gray;
			}
			.title {
				font-size: 30px;
				font-weight: 500;
				line-height: 30px;
			}
		}

		.product_id {
			display: flex;
			align-items: center;
			gap: 7px;
			span,
			button {
				color: $discount;
				border-radius: 4px;
				background: $white;
				padding: 4px;
				-webkit-box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.03);
				-moz-box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.03);
				box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.03);
				font-size: 12px;
				font-weight: 500;
			}
		}
	}
	.product_image {
		position: relative;
		padding-top: 0;
		border: 1px dashed $darkenRGBA;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		gap: 8px;
		padding: 3px;

		.product_poster {
			position: relative;
			padding-top: calc(100% * (320 / 300));
			width: calc(100% / 2 * 1.5);
			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}
		.product_images {
			display: flex;
			flex-direction: column;
			width: calc(100% / 7 * 1.2);
			justify-content: space-between;
			.image {
				position: relative;
				overflow: hidden;
				padding-top: calc(100% * (172 / 110));
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
