@import "../../../../styles/vars";
.cards {
	position: relative;
	.wrap {
		position: relative;
		display: grid;
		grid-template-columns: repeat(6, calc(100% / 6 - 30px / 6 * (6 - 1)));
		column-gap: 30px;
		row-gap: 40px;
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.04);
	-moz-box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.04);
	box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.04);

	.card_wrap {
		display: flex;
		flex-direction: column;
		gap: 5px;
		overflow: hidden;
		&:hover {
			content: "";
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: revert-layer;
			background: $white;
			z-index: 2;
			-webkit-box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.07);
			-moz-box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.07);
			box-shadow: 0px 10px 23px 3px rgba(34, 60, 40, 0.07);
			border-radius: 4px;
			padding: 15px;
			.featured {
				opacity: 1;
			}
			.buttons {
				opacity: 1;
				margin: 15px 0;
			}
			.content {
				.name {
					display: flex;
					flex-direction: column;
					gap: 7px;
					.title {
						white-space: normal;
					}
				}
			}
		}
		.featured {
			position: absolute;
			left: 0;
			top: 20px;
			z-index: 3;
			padding: 5px 26px;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			opacity: 0;
		}
		.top {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 6px;
			.poster {
				position: relative;
				padding-top: calc(100% * (328 / 246));
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					border-radius: 4px;
				}
				.action {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 10px 8px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 3px;
					.discount {
						font-size: 14px;
						background: $purple;
					}
					.new {
						background: $discount;
					}
					.hit {
						background: $darkRED;
					}
					span {
						flex: none;
						font-size: 8px;
						font-weight: 500;
						line-height: 14px;
						text-transform: uppercase;
						color: $white;
						padding: 2px 4px;
						border-radius: 2px;
					}
				}
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 5px;
			color: $darken;
			.name {
				.title {
					line-height: 18px;
					font-size: 16px;
					font-weight: 500;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					small {
						color: $gray;
						font-size: 10px;
					}
				}
				span {
					display: inline-block;
					font-size: 12px;
					color: $gray;
				}
			}

			.middle {
				display: flex;
				flex-direction: column;
				gap: 4px;
				.price,
				.rating {
					display: flex;
					align-items: center;
					gap: 4px;
				}
				.price {
					font-size: 16px;
					font-weight: bold;
					line-height: 20px;
					span {
						font-size: 14px;
						text-transform: uppercase;
					}
				}
				.rating {
					justify-content: space-between;
					align-items: baseline;
					span {
						font-size: 10px;
						font-weight: 400;
						line-height: 17px;
					}
				}
			}
		}
		.buttons {
			opacity: 0;
		}
	}
}
