@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	overflow-y: scroll;
	overflow-x: hidden;
	.close {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 3000;
		background: $white;
		-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.2);
	}
	.content {
		padding: 10px;
		width: 100%;
		min-height: 80vh;
		@include mediaLarge530px {
			padding-left: unset;
		}
	}
}
