@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
	z-index: 190;
	.wrap {
		padding: 14px 0;
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.logo {
				position: relative;
				max-width: 120px;
				width: 100%;
				height: 50px;
				img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: -2px;
					width: 100%;
				}
			}
		}
	}
}
.close {
	padding: 10px 12px;
	border-radius: 50px;
	color: $purple;
	-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
	-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
	box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
}
