@import "../../../../styles/mixin";
@import "../../../../styles/vars";
@import "../../../../styles/media.mixin";

.wrap {
	.cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		@include mediaLarge640px {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 4px;
			grid-row-gap: 4px;
		}
		@include mediaLarge480px {
			grid-template-columns: repeat(2, 1fr);
		}
		&.grid4 {
			grid-template-columns: repeat(6, 1fr);
			@include mediaLarge1024px {
				grid-template-columns: repeat(5, calc(100% / 5 - 4px / 5 * (5 - 1)));
			}
			@include mediaLarge830px {
				grid-template-columns: repeat(4, calc(100% / 4 - 4px / 4 * (4 - 1)));
			}
			@include mediaLarge530px {
				grid-template-columns: repeat(3, calc(100% / 3 - 4px / 3 * (3 - 1)));
			}
			@include mediaLarge440px {
				grid-column-gap: 2px;
				grid-row-gap: 2px;
				grid-template-columns: repeat(2, calc(100% / 2 - 2px / 2 * (2 - 1)));
			}
			.card {
				position: relative;
				&:nth-child(3) {
					position: relative;
					grid-column: unset;

					.image {
						padding-top: calc(100% * (120 / 90));
						img {
							object-fit: contain;
						}
					}
				}
				&:nth-child(4) {
					grid-column: 4 / 6;
					@include mediaLarge1260px {
						grid-column: unset;
					}

					.image {
						position: relative;
						padding-top: calc(100% * (100 / 155));
						img {
							object-fit: contain;
						}
						@include mediaLarge1260px {
							padding-top: calc(100% * (120 / 90));
							grid-column: unset;
						}
					}
				}
				&:nth-child(6) {
					grid-column: 1 / 3;
					@include mediaLarge1260px {
						grid-column: unset;
					}
					.image {
						position: relative;
						padding-top: calc(100% * (100 / 155));
						img {
							object-fit: contain;
						}
						@include mediaLarge1260px {
							padding-top: calc(100% * (120 / 90));
							grid-column: unset;
						}
					}
				}
			}
		}

		.card {
			position: relative;
			overflow: hidden;
			-webkit-box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.02);
			-moz-box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.02);
			box-shadow: 0px 10px 23px 3px rgba(34, 30, 40, 0.02);
			border: 1px dashed $darkenRGBA;
			padding: 4px;
			border-radius: 5px;
			overflow: hidden;
			&:nth-child(3) {
				grid-column: 3 / 5;
				@include mediaLarge940px {
					grid-column: unset;
				}
				.image {
					position: relative;
					padding-top: calc(100% * (100 / 155));
					img {
						object-fit: contain;
					}
					@include mediaLarge940px {
						padding-top: calc(100% * (120 / 90));
					}
				}
			}
		}
	}
}
.image {
	position: relative;
	padding-top: calc(100% * (120 / 90));
	border-radius: 5px;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.discount {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.content {
	display: flex;
	padding: 10px;
	flex-direction: column;
	gap: 6px;
	color: $darken;
	.title {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
