@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";

.heading {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;

	&.top {
		margin-bottom: 10px;
		@include mediaLarge530px {
			font-size: 18px;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		span {
			position: relative;
			display: inline-flex;
			align-items: center;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
		}
	}
	&.xl1 {
		span {
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	&.xl2 {
		span {
			font-size: 22px;
			font-weight: 400;
			line-height: 27px;
		}
	}
}
