@mixin baseBoxShadow {
	-webkit-box-shadow: 7px 12px 19px 0px rgba(34, 60, 80, 0.05);
	-moz-box-shadow: 7px 12px 19px 0px rgba(34, 60, 80, 0.05);
	box-shadow: 7px 12px 19px 0px rgba(34, 60, 80, 0.05);
}

@mixin middleBoxShadow {
	-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.08);
	-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.08);
	box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.08);
}
@mixin lowBoxShadow {
	-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.02);
	-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.02);
	box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.02);
}

@mixin dashdeLine {
	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 1px;
		background-image: linear-gradient(
			to right,
			rgb(63, 63, 63) 33%,
			rgba(255, 255, 255, 0) 0%
		);
		background-position: bottom;
		background-size: 5px 1px;
		background-repeat: repeat-x;
	}
}

@mixin buttonHover {
	&:hover {
		box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.8);
	}
}
