// COLORS
$black: #000;
$white: #fff;
$darken: #353434;
$darkenFavorite: #3a3939;
$darkenRGBA: rgba(90, 90, 90, 0.11);
$purple: #a532a1;
$purpleDarken: rgba(119, 7, 115, 0.5);
$purpleFavorite: rgba(224, 103, 184, 0.3);
$discount: rgb(224, 22, 157);
$whiteRGBA: rgba(255, 255, 255, 0.9);
$gray: rgb(136, 136, 136);
$skay: rgb(50, 106, 151);
$darkRED: rgb(218, 36, 51);

// BREAKPOINTS
$largePOINT1200: 1199.99px;
$largePOINT1024: 1023.99px;
$largePOINT940: 939.99px;
$largePOINT835: 834.99px;
$largePOINT776: 775.99px;
$largePOINT640: 639.99px;
$mobilePOINT530: 529.99px;
$mobilePOINT480: 479.99px;
$mobilePOINT440: 439.99px;
$mobilePOINT360: 359.99px;
$mobilePOINT320: 319.99px;
