@import "../../styles/mixin";
@import "../../styles/vars";
@import "../../styles/media.mixin";

.select {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&_placeholder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 10px;
		border-radius: 3px;
		box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.02);
		.title {
			display: flex;
			gap: 12px;
			align-items: center;
			font-size: 13px;
			font-weight: 500;
			@include mediaLarge640px {
				gap: 6px;
				font-size: 14px;
			}
			span {
				display: flex;
				font-size: 15px;
				@include mediaLarge640px {
					font-size: 18px;
				}
			}
		}
	}
	&_list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: absolute;
		width: 100%;
		top: 100%;
		padding: 10px 12px;
		background: $white;
		@include baseBoxShadow;
		border-radius: 3px;
		z-index: 50;
		color: $darken;
		overflow-y: scroll;
		scrollbar-width: thin; /* Устанавливаем толщину полосы прокрутки */

		/* Для Firefox */
		scrollbar-color: $discount transparent; /* Устанавливаем цвет полосы прокрутки */

		/* Для Webkit (Chrome, Safari) */
		&::-webkit-scrollbar {
			width: 5px; /* Устанавливаем ширину полосы прокрутки */
		}
		&::-webkit-scrollbar-thumb {
			background-color: $discount; /* Устанавливаем цвет полосы прокрутки */
			border-radius: 5px; /* Устанавливаем скругление углов полосы прокрутки */
		}
		&::-webkit-scrollbar-track {
			background-color: transparent; /* Устанавливаем цвет фона трека прокрутки */
		}

		max-height: 200px;
		@include mediaLarge480px {
			gap: 7px;
		}
	}
	&_item {
		font-size: 14px;
		font-weight: 500;
		border-radius: 8px;
		cursor: pointer;
		z-index: 8;
		transition: background 0.2s ease;
		padding: 10px 0px 10px 25px;
		@include mediaLarge480px {
			padding-left: 22px;
		}
		&:hover {
			background: $gray;
			color: $white;
		}
		&.disabled {
			pointer-events: none;
			background: $gray;
			opacity: 0.3;
		}
	}
}
