@import "../../../styles/media.mixin";
@import "../../../styles/vars";
@import "../../../styles/mixin";
.cart {
	display: grid;
	grid-template-columns: calc(100% / 3 * 2.1 - 20px) calc(100% / 6 * 1.9 - 20px);
	column-gap: 20px;
	align-items: start;
	padding-top: 20px;
	.title {
		margin-bottom: 10px;
	}
	@include mediaLarge1024px {
		grid-template-columns: 1fr;
	}
}
.order {
	display: flex;
	flex-direction: column;
	gap: 30px;
	@include mediaLarge776px {
		gap: 12px;
	}
	.box {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: 1px dashed $darkenRGBA;
		padding: 10px;
		border-radius: 5px;

		.title {
			display: flex;
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			color: $darken;
			span {
				@include dashdeLine;
			}
		}
		.out {
			.button {
				display: flex;
				align-items: center;
				gap: 4px;
				background: $darken;
				padding: 10px 14px;
				border-radius: 5px;
				font-size: 12px;
				color: $white;
				@include buttonHover;
			}
		}
	}
}
