@import "../../../styles/media.mixin";
@import "../../../styles/vars";
@import "../../../styles/mixin";

.cart {
	display: grid;
	grid-template-columns: calc(100% / 3 * 2.1 - 20px) calc(100% / 6 * 1.9 - 20px);
	column-gap: 20px;
	row-gap: 20px;
	align-items: start;
	padding-top: 15px;
	@include mediaLarge1024px {
		grid-template-columns: 1fr;
	}
}
.order {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.box {
		display: flex;
		flex-direction: column;
		gap: 16px;
		border: 1px dashed $darkenRGBA;
		padding: 10px;
		border-radius: 5px;
		.title {
			display: flex;
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			color: $darken;
			span {
				display: flex;
				flex-direction: column;
				gap: 2px;
				@include dashdeLine;
			}
		}
		.out {
			.button {
				display: flex;
				align-items: center;
				gap: 4px;
				background: $black;
				padding: 12px 14px;
				border-radius: 8px;
				font-size: 12px;
				color: $white;
				@include buttonHover;
				@include mediaLarge480px {
					justify-content: center;
					width: 100%;
				}
			}
		}
	}
}
