@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.deliver {
	position: relative;
	height: 90vh;
	border: 1px solid $purpleFavorite;
	border-radius: 6px;
	.information {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% / 5 * 1.5);
		height: 100%;
		background: $whiteRGBA;
		-webkit-box-shadow: 9px 0px 13px -7px rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 9px 0px 13px -7px rgba(0, 0, 0, 0.08);
		box-shadow: 9px 0px 13px -7px rgba(0, 0, 0, 0.08);
		z-index: 2002;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		.title {
			display: flex;
			background: $purple;
			color: $white;
			span {
				display: flex;
				flex-direction: column;
				gap: 2px;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
			}
			@include lowBoxShadow;
			padding: 10px;
			border-radius: 4px;
			@include mediaLarge830px {
				padding: 6px;
			}
		}
		.wrap {
			display: flex;
			flex-direction: column;
			gap: 12px;
			.rows {
				display: flex;
				flex-direction: column;
				gap: 12px;
				padding: 10px 0;
				.row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					small {
						font-size: 12px;
						font-weight: 300;
						line-height: 12px;
					}
					span {
						display: flex;
						flex-direction: column;
						gap: 4px;
						font-size: 14px;
						font-weight: 400;
						line-height: 16px;
						@include dashdeLine;
					}
				}
			}
		}
		@include mediaLarge830px {
			width: calc(100% / 4 * 1.5);
			padding: 15px;
		}
		@include mediaLarge640px {
			width: 320px;
			transform: translateX(-105%);
			transition: transform 0.1s ease;
			&.animate {
				transform: translateX(0);
				pointer-events: none;
				~ .mobile {
					transform: translateX(340px);
					left: unset;
				}
			}
		}
		@include mediaLarge440px {
			width: 260px;
			&.animate {
				~ .mobile {
					transform: translateX(270px);
				}
			}
		}
		@include mediaLarge380px {
			width: 240px;
			&.animate {
				~ .mobile {
					transform: translateX(260px);
				}
			}
		}
	}
	.mobile {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2002;
		button {
			display: flex;
			padding: 10px;
			background: $purple;
			color: $white;
			border-radius: 50px;
			@include baseBoxShadow;
		}
	}
	@include mediaLarge640px {
		overflow: hidden;
	}
}
