@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.deliver {
	position: relative;
	height: 90vh;
	border: 1px solid $purpleFavorite;
	border-radius: 6px;

	@include mediaLarge530px {
		display: flex;
		flex-direction: column-reverse;
		height: unset;
		border: unset;
		gap: 12px;
		padding-bottom: 20px;
	}
	@include mediaLarge640px {
		overflow: hidden;
	}
}
