@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.search {
	position: relative;
	width: 100%;
	border: 1px solid $grayDark;
	border-radius: 8px;
	overflow: hidden;
	input {
		padding: 7px;
		width: 100%;
		border: none;
		background: $white;
		@include mediaLarge530px {
			&::placeholder {
				font-size: 14px;
				font-weight: 400;
			}
		}
		&:focus {
			outline: none;
		}
	}
}
