@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.notify {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	z-index: 3000;
}
