@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.notify {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	z-index: 3000;
	background: $black;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	border-radius: 16px;
	padding: 12px 18px;
	text-align: center;
	font-size: 12px;
	pointer-events: none;
	@include baseBoxShadow;
	strong {
		font-size: 18px;
	}
	&.success {
		background: $purple;
		color: $white;
	}
	&.error {
		background: $darkRED;
		color: $white;
	}
	&.bottomRight {
		left: unset;
		right: 30px;
	}
	&.topRight {
		top: 50px;
		right: 50px;
		left: unset;
		transform: unset;
		bottom: unset;
	}
	&.sizeXl2 {
		padding: 15px 23px;
	}
}
