@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.info {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	padding: 20px;
	border-radius: 4px;
	@include baseBoxShadow;
	@include mediaLarge1024px {
		position: unset;
		order: 3;
	}
	@include mediaLarge480px {
		padding: 10px;
		margin-top: 15px;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		gap: 12px;
		.deliver {
			color: $purple;
			cursor: pointer;
			@include mediaLarge1024px {
				display: none !important;
			}
		}
		.box,
		.profit,
		.deliver {
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				font-size: 14px;
			}
			&:nth-child(2) {
				span {
					color: $gray;
				}
			}
			.price {
				color: $gray;
				div {
					font-size: 12px !important;
				}
			}
			.total {
				margin: 5px 0;
				font-size: 18px;
				font-weight: 700;
			}
			.price,
			.profit {
				.profitPrice {
					min-height: unset !important;
				}
			}
		}
		.profit {
			color: $skay;
		}
		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			background: $black;
			color: $white;
			padding: 15px 12px;
			border-radius: 14px;
			min-height: 50px;
			@include buttonHover;
			span {
				font-size: 14px;
			}
		}
	}
}
