@import "../../../../styles/mixin";
@import "../../../../styles/vars";
.title {
	font-size: 14px;
	font-weight: 500;
	color: $gray;
	margin: 10px 0;
}
.attributes {
	display: flex;
	flex-direction: column;
	gap: 10px;
	&::before {
		display: block;
		content: "";
		width: 100%;
		border-bottom: 1px dashed $darkenRGBA;
	}

	.rating {
		justify-content: unset;
		gap: 10px;
	}

	.price {
		display: flex;
		align-items: center;
		gap: 3px;
		padding: 0 !important;
		> span {
			color: $white;
			background: $discount;
			border-radius: 3px;
			padding: 2px;
		}
	}

	.description {
		p {
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			display: -webkit-box;
			-webkit-line-clamp: 10;
			overflow: hidden;
			-webkit-box-orient: vertical;
		}
	}
}
