@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";

.heading {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 30px;
	&.top {
		margin-bottom: 10px;
		@include mediaLarge530px {
			margin-top: 30px;
			margin-bottom: 5px;
		}
		span {
			position: relative;
		}
	}
}
