@import "../../styles/mixin";
@import "../../styles/vars";
.featured {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
	&.fixed {
		position: absolute;
		top: 27px;
		right: 27px;
		z-index: 3;
	}
}
