@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.label {
	font-size: 12px;
	@include mediaLarge480px {
		display: none;
	}
}
.wrapp {
	@include mediaLarge640px {
		padding: 0;
	}
}
.progress {
	height: 50px;
}
.title {
	display: none;
	font-size: 14px;
	font-weight: 500;
	color: $gray;
	@include mediaLarge480px {
		display: flex;
	}
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-top: 30px;
	min-height: 140px;
	border-bottom: 1px solid $darkenRGBA;

	@include mediaLarge480px {
		flex-direction: column;
		gap: 20px;
		margin-top: 10px;
	}
}
.step {
	&::before {
		background: $darkenRGBA !important;
	}
	span {
		width: 24px !important;
		height: 24px !important;
		font-size: 12px;
		background: $darkenFavorite !important;
		svg {
			width: 15px;
			height: 15px;
			@include mediaLarge480px {
				width: 10px;
				height: 10px;
			}
		}
	}
}
.buttons {
	a {
		font-size: 12px;
		border-radius: 10px;
		padding: 10px;
		background: transparent;
		color: $darken;
		border: 1px solid $gray;
		&:hover {
			background: transparent;
		}
	}
}

.items {
	display: flex;
	align-items: center;
	gap: 18px;
	&.poin {
		@include mediaLarge640px {
			flex-direction: unset;
		}
		.item {
			span {
				@include mediaLarge640px {
					flex: 1;
				}
			}
		}
	}
	.item {
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			font-size: 10px;
			font-weight: 400;
			line-height: 18px;
			@include mediaLarge640px {
				flex: 0.4;
			}
		}
		strong {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			text-decoration: underline;
			cursor: help;
			@include mediaLarge640px {
				text-decoration: none;
				font-size: 12px;
			}
			@include mediaLarge640px {
				flex: 1;
			}
		}
		@include mediaLarge640px {
			min-width: 230px;
			border-bottom: 1px solid $darkenRGBA;
			padding: 5px 0;
		}
	}
	@include mediaLarge640px {
		flex-direction: column;
		gap: 4px;
	}
}
.icons {
	display: flex;
	.icon {
		width: 40px;
		height: 30px;
		&.iconVisa {
			background-image: url("/icons/Visa.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.masterCard {
			background-image: url("/icons/master-card.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.maestro {
			background-image: url("/icons/maestro.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.unionPay {
			background-image: url("/icons/union-pay.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.elcard {
			background-image: url("/icons/elcard.svg");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.methods {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 12px;
	.method {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 10px;
		padding: 5px;
		cursor: pointer;
		border: 1px solid $grayDark;
		min-width: 300px;
		strong {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			height: 30px;
		}
		img {
			width: 80px;
			height: 30px;
			object-fit: contain;
		}
		input {
			width: unset;
		}
		@include mediaLarge640px {
			@include lowBoxShadow;
		}
	}
	@include mediaLarge776px {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}
	@include mediaLarge640px {
		grid-template-columns: 1fr;
		width: 60%;
	}
	@include mediaLarge480px {
		width: 100%;
		row-gap: 5px;
	}
}
