@import "../../styles/mixin";
@import "../../styles/vars";
.history {
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid $darkenRGBA;
	// padding: 10px;
	.list {
		display: flex;
		align-items: center;
		gap: 4px;

		.listItem {
			font-size: 14px;
			line-height: 20px;
			font-style: normal;
			font-weight: 500;
			&.active {
				a {
					color: $purple;
				}
			}
			// text-transform: uppercase;
			a {
				display: flex;
				align-items: center;
				gap: 3px;
				color: $gray;
				svg {
					font-size: 16px;
				}
			}
		}
		span {
			font-size: 12px;
			line-height: 18px;
			font-weight: bold;
			color: $purple;
		}
	}
}
