@import "../../styles/mixin";
@import "../../styles/vars";
@import "../../styles/media.mixin";

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 240px;
	max-width: 360px;
	padding-top: calc(180px);
	padding-left: 50px;
	padding-right: 10px;
	background: $white;
	height: 100%;
	-webkit-box-shadow: 11px 0px 26px -6px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 11px 0px 26px -6px rgba(0, 0, 0, 0.07);
	box-shadow: 11px 0px 26px -6px rgba(0, 0, 0, 0.07);
	z-index: 40;

	.wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		.list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			.listItem {
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
			}
		}
		span {
			font-size: 10px;
			font-weight: 400;
			color: $gray;
		}
	}
}
.submenu {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: $white;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 200px;
	color: $darkenRGBA;
	opacity: 0;
	pointer-events: none;
	&.isOpen {
		opacity: 1;
		pointer-events: auto;
	}
	.submenuItem {
		display: flex;
		align-items: center;
		gap: 8px;
		&::before {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50px;
			border: 1px solid $darkenRGBA;
		}
		a {
			color: $black;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $darkenRGBA;
	z-index: 30;
}
