@import "../../styles/mixin";
@import "../../styles/media.mixin";
@import "../../styles/vars";

.footer {
	padding-top: 20px;
	@include sectionShadow;
	.columns {
		display: grid;
		grid-template-columns: 0.8fr 1fr 1fr 1fr;
		align-content: center;
		width: 100%;
		min-height: 30vh;
		height: 100%;
		.column {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
			.title {
				display: flex;
				align-items: center;
				font-size: 14px;
				line-height: 12px;
				font-weight: 400;
				height: 30px;
				color: $purple;
				@include mediaLarge480px {
					font-size: 16px;
					font-weight: 500;
				}
			}
			.items {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.item {
					display: flex;
					align-items: center;
					gap: 12px;
					font-size: 12px;
					line-height: 15px;
					color: $gray;
					@include mediaLarge480px {
						font-size: 14px;
					}
				}
				@include mediaLarge480px {
					gap: 8px;
				}
			}
			.socials {
				display: none;
				align-items: center;
				gap: 15px;
				margin-top: 5px;
				.social {
					color: $gray;
				}
			}
			@include mediaLarge480px {
				padding-left: 10px;
				gap: 8px;
			}
		}
		@include mediaLarge776px {
			grid-template-columns: 1fr 1fr;
		}
		@include mediaLarge480px {
			min-height: 17vh;
		}
	}
	.bottom {
		padding: 10px;
		border: 1px dashed $darkenRGBA;
		.list {
			display: grid;
			grid-template-columns: 0.8fr 1fr 1fr 1fr;
			.item {
				color: $gray;
				font-size: 12px;
				@include mediaLarge480px {
					font-size: 14px;
				}
			}
			@include mediaLarge940px {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
			@include mediaLarge830px {
				grid-template-columns: 1fr 1fr;
				row-gap: 6px;
			}
			@include mediaLarge440px {
				grid-template-columns: 1fr;
			}
		}
		@include mediaLarge830px {
			padding: 15px 0;
		}
		@include mediaLarge480px {
			padding-left: 10px;
		}
	}
	@include mediaLarge480px {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
