@import "../../styles/mixin";
@import "../../styles/media.mixin";
@import "../../styles/vars";

.footer {
	background: $darken;
	.wrap {
		width: 100%;
		min-height: 30vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 50px;
		color: $gray;
		@include mediaLarge1024px {
			padding: 20px 0;
		}
		@include mediaLarge440px {
			padding-bottom: 30px;
		}
		.column {
			font-size: 10px;
			line-height: 15px;
			@include mediaLarge480px {
				font-size: 14px;
				line-height: 18px;
			}
			ul {
				display: flex;
				gap: 2px !important;
				@include mediaLarge1024px {
					flex-wrap: wrap;
				}
				@include mediaLarge480px {
					flex-direction: column;
					gap: 7px !important;
				}
				li {
					width: 20% !important;
					@include mediaLarge1024px {
						width: 45% !important;
					}
					@include mediaLarge480px {
						width: 100% !important;
					}
					a {
						font-size: 10px !important;
						line-height: 15px;
						color: $gray !important;
						text-transform: uppercase;
						transition: all 0.1s ease;
						@include mediaLarge480px {
							font-size: 12px !important;
							line-height: 17px;
						}
						&:hover {
							color: $white !important;
						}
					}
				}
			}

			&:nth-child(2) {
				display: flex;
				gap: 12px;
				align-items: center;
			}
		}
	}
}
