@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.map {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.leaflet {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	&:focus {
		outline: none !important;
	}
}
.copy {
	position: absolute;
	right: 20px;
	bottom: 0;
	z-index: 2000;
	background: $white;
}

.navigation {
	position: absolute;
	top: 50px;
	right: 10px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	gap: 12px;
	.button {
		button {
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 18px;
			background: $white;
			padding: 5px;
			border-radius: 4px;
			@include baseBoxShadow;
			span {
				font-size: 14px;
			}
		}
	}
}
