@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.search {
	position: relative;
	width: 100%;
	border: 1px solid $white;
	padding: 16px 5px;
	border-radius: 5px;
	overflow: hidden;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		background: $white;
		&:focus {
			outline: none;
		}
	}
}
