@import "../../../styles/media.mixin";
@import "../../../styles/vars";
@import "../../../styles/mixin";

.products {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 10px;
	.product {
		display: grid;
		grid-template-columns: 0.1fr 1fr;
		column-gap: 12px;
		-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
		-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
		box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.03);
		padding: 10px;
		.product_image {
			position: relative;
			padding-top: calc(100% * (220 / 150));
			overflow: hidden;
			border-radius: 5px;
			@include mediaLarge776px {
				width: 90px;
				height: 120px;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.wrap {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 0.5fr 0.4fr 0.2fr;
			align-items: center;
			@include mediaLarge776px {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 8px;
			}
			@include mediaLarge440px {
				gap: 15px;
			}
			.price {
				gap: 6px !important;
				align-items: flex-start;

				@include mediaLarge776px {
					position: absolute;
					top: 50%;
					right: 10px;
					align-items: center;
					transform: translateY(-50%);
				}
				@include mediaLarge440px {
					position: unset;
					flex-direction: row !important;
					align-items: center;
					transform: unset;
				}
			}
			.content {
				@include mediaLarge776px {
					justify-self: start;
				}
			}
			.action {
				@include mediaLarge776px {
					position: absolute;
					top: 10px;
					right: 20px;
				}
				@include mediaLarge480px {
					top: unset;
					right: 20px;
					bottom: 0;
				}
			}
			.content,
			.action,
			.price {
				display: flex;
				flex-direction: column;
				gap: 15px;
				.title {
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
				}
				.number {
					justify-content: center !important;
					min-height: unset !important;
				}
				.items {
					display: flex;
					flex-direction: column;
					gap: 4px;
					.item {
						display: flex;
						align-items: center;
						gap: 5px;
						font-size: 12px;
						span {
							display: flex;
							align-items: center;
							gap: 5px;
							font-size: 10px;
							color: $gray;
						}
						small {
							color: $skay;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
