@import "../../../styles/media.mixin";
@import "../../../styles/vars";
@import "../../../styles/mixin";

.cart {
	padding-top: 20px;
	.product {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px;
		-webkit-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
		-moz-box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
		box-shadow: 7px 6px 19px 0px rgba(34, 60, 80, 0.04);
		border-radius: 5px;
		@include mediaLarge530px {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}
		.content,
		.actions {
			flex: 1;
			display: flex;
			align-items: center;
		}
		.content {
			display: flex;
			gap: 5px;
			@include mediaLarge530px {
				width: 100%;
			}
			.image {
				position: relative;
				width: 90px;
				height: 120px;
				overflow: hidden;
				border-radius: 5px;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.description {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.title {
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
					color: $darken;
					@include mediaLarge440px {
						font-size: 14px;
					}
				}
				.price {
					display: flex;
					align-items: center;
					gap: 12px;
					@include mediaLarge440px {
						flex-direction: column;
						align-items: flex-start;
						gap: 5px;
					}
					.number {
						align-items: center;
						min-height: unset !important;
						flex-direction: row;
						gap: 10px;
					}
					.promo {
						gap: 3px;
						align-items: baseline;
						font-size: 10px;
						text-align: center;
						background-image: linear-gradient(
							43deg,
							#4158d0 0%,
							#c850c0 46%,
							#ffcc70 100%
						);
						background-size: 400% 400%;
						color: $purple;
						background-clip: text;
						text-fill-color: transparent;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						-webkit-animation: changeBackground 8.4s linear infinite;
						animation: changeBackground 8.4s linear infinite;
						span {
							gap: 3px;
						}
					}
				}
				.items {
					display: flex;
					flex-direction: column;
					gap: 6px;
					.item {
						display: flex;
						align-items: center;
						gap: 4px;
						font-size: 12px;
						span {
							display: flex;
							align-items: center;
							gap: 4px;
							font-size: 10px;
							color: $skay;
							small {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
		.actions {
			display: flex;
			justify-content: space-between;
			@include mediaLarge830px {
				flex: 0.3;
			}
			@include mediaLarge530px {
				flex-direction: row;
				flex: unset;
				width: 100%;
			}
			.action {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				@include mediaLarge530px {
					justify-content: flex-end;
				}
			}
			.range {
				@include mediaLarge530px {
					flex: 1;
					justify-content: flex-start;
					padding-left: 7px;
				}
				@include mediaLarge380px {
					flex: 0.5;
				}
			}
			.discount {
				> div {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				@include mediaLarge830px {
					position: absolute;
					left: 10px;
					bottom: 12px;
				}
				@include mediaLarge530px {
					top: 8px;
					right: 5px;
					left: unset;
					bottom: unset;
				}
			}
		}
	}
}
@keyframes changeBackground {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
