@import "../../../styles/mixin";
@import "../../../styles/vars";
.wrap {
	display: flex;
	align-items: center;
	gap: 20px;
	.range {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;
		.value {
			display: flex;
			gap: 12px;
		}
		span {
			color: $gray;
		}
		small {
			position: absolute;
			top: -200%;
			right: 0;
			border: 1px dashed $darkenRGBA;
			padding: 3px;
			border-radius: 3px;
			font-size: 12px;
			z-index: 300;
		}
		span {
			font-weight: 500;
			font-size: 12px;
		}
		input {
			cursor: pointer;
			max-width: 80px;
			-webkit-appearance: none;
			&:focus {
				outline: none;
			}
			&::-webkit-slider-runnable-track {
				width: 300px;
				height: 5px;
				background: $purpleFavorite;
				border: none;
				border-radius: 3px;
			}
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				border: none;
				height: 12px;
				width: 12px;
				border-radius: 50%;
				background: $discount;
				@include baseBoxShadow;
				margin-top: -4px;
			}
			&:focus::-webkit-slider-runnable-track {
				background: $purpleDarken;
			}
			&:focus::-webkit-slider-thumb {
				background: $purple;
			}
		}
	}
}
