@import "../../styles/mixin";
@import "../../styles/vars";
@import "../../styles/media.mixin";
.wrap {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;

	@include mediaLarge1200px {
		position: unset;
		box-shadow: unset;
	}
	@include mediaLarge940px {
		border: unset;
		min-width: 300px;
	}

	.info,
	.cart {
		border-radius: 5px;
		box-shadow: 0 2px 16px rgba(0, 0, 0, 0.03);
	}
	.info {
		display: flex;
		flex-direction: column;
		gap: 17px;
		border-radius: 5px;
		padding: 20px;
		box-shadow: 0 2px 16px rgba(0, 0, 0, 0.03);
		.box {
			display: flex;
			flex-direction: column;
			gap: 7px;
			small {
				display: flex;
				align-items: center;
				gap: 12px;
				font-size: 12px;
				font-weight: 400;
				color: $gray;
			}
			.box_item {
				display: flex;
				align-items: center;
				justify-content: space-between;

				span {
					font-size: 14px;
					line-height: 18px;
					font-weight: 400;
					color: $skay;
				}
				button {
					color: $skay;
					font-size: 12px;
				}
			}
		}
	}

	.cart {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		button {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}
