@import "../../../styles/media.mixin";
@import "../../../styles/mixin";
@import "../../../styles/vars";
.menu {
	padding: 20px;
	ul {
		display: flex;
		flex-direction: column;
		gap: 12px;
		li {
			a {
				color: $darken;
			}
		}
	}
}
