@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.notification {
	position: fixed;
	left: 50%;
	bottom: 100px;
	max-width: 400px;
	min-width: 80px;
	padding: 10px;
	border-radius: 10px;
	@include baseBoxShadow;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	z-index: 300;
	display: flex;
	flex-direction: column;
	gap: 15px;
	&.backgroundBlack {
		background: $black;
		color: $white;
	}
	&.backgroundWhite {
		background: $white;
		color: $black;
	}
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 6px;
	}
	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
	}
}
