@import "../../styles/media.mixin";
@import "../../styles/mixin";
@import "../../styles/vars";
.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 80vh;
	@include mediaLarge776px {
		min-height: 100vh;
	}
}
